<% if @product_customization_types.any? %>
  <table class="table">
    <thead>
      <tr>
        <th><%= Spree.t(:name) %></th>
        <th><%= Spree.t(:presentation) %></th>
        <th><%= Spree.t(:description) %></th>
        <th class="actions"></th>
      </tr>
    </thead>
    <tbody>
      <% @product_customization_types.each do |customization_type| %>
        <tr>
          <td><%= customization_type.name %></td>
          <td><%= customization_type.presentation %></td>
          <td><%= customization_type.description %></td>
          <td class="actions actions-1">
            <%= link_to_delete nil, url: remove_admin_product_product_customization_type_path(@product, customization_type), no_text: true, remote: true %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: plural_resource_name(Spree::ProductCustomization)) %>,
    <%= link_to Spree.t(:add_one), available_admin_product_product_customization_types_path(@product), remote: true, class: "iconlink" %>!
  </div>
<% end %>
