<%= content_for :head do %>
  <%= javascript_include_tag "jquery.validate.min" %>
  <%= javascript_tag do %>
    $(function() { $("form").validate() });
  <% end %>
<% end %>

<% content_for :page_title do %>
  <%= t("editing_product_customization_type") %>
<% end %>

<% content_for :page_actions do %>
  <%= link_to_with_icon 'arrow-left', t("back_to_customization_types_list"),
    collection_url, class: 'btn btn-default' %>
<% end %>

<%= render partial: 'spree/admin/shared/error_messages',
           locals: { target: @product_customization_type } %>

<%= form_for [:admin, @product_customization_type] do |f| %>
  <fieldset>
    <%= render partial: 'form', locals: { f: f } %>

    <h3><%= t("customizable_product_options") %></h3>

    <table class="table">
      <thead>
        <tr>
          <th><%= t("name") %></th>
          <th><%= t("presentation") %></th>
          <th><%= t("description") %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="customizable_product_options">
        <% no_options =
          @product_customization_type.customizable_product_options.empty? %>
        <tr <%= no_options ? "" : "hidden" %> id="none">
          <td colspan="3"><%= t("none") %></td>
        </tr>
        <%= f.fields_for :customizable_product_options do |cf| %>
          <%= render "customizable_product_option_fields", f: cf %>
        <% end %>
      </tbody>
    </table>

    <%= render partial: 'spree/admin/shared/edit_resource_links' %>
  </fieldset>
<% end %>
